:global(.login-box-modal) {
  border-radius: 8px !important;
}

:global(.login-box-modal .el-dialog__header) {
  padding: 0;
}

:global(.login-box-modal .el-dialog__headerbtn) {
  z-index: 5;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 4px 12px;
}

.login-logo {
  width: 100px;
  border-radius: 8px;
}

.login-slogan {
  margin-top: 12px;
  margin-bottom: 16px;
  font-size: 14px;
  color: var(--font-light);
}

.login-tabs {
  width: 100%;
}

.submit-btn {
  width: 100%;
  margin-top: 8px;
}

.form-footer {
  margin-top: 16px;
  font-size: 13px;
  color: var(--font-light);
  text-align: center;
}

.form-footer-link {
  color: var(--color-primary);
  cursor: pointer;
}

@media only screen and (max-width: 639px) {
  .login-box {
    padding-right: 0;
    padding-left: 0;
  }
}
